{% extends "base2.html" %}

{% block title %}
<title>Panel</title>
{% endblock %}


{% block sidenav %}
<ul class="navbar-nav mt-2 pt-2  text-center">
    <li class="nav-item active mt-2 pt-2">
        <a class="nav-link "href="http://">Servers</a>
    </li>
    <li class="nav-item active mt-2 pt-2">
        <a  class="nav-link"href="http://">Profile</a>
    </li>
    <li class="nav-item active mt-2 pt-2">
        <a class="nav-link" href="http://">Settings</a>
    </li>
</ul>
{% endblock %}

{% block main %}
<div class="row mt-2 pt-2">
    <div class="col-sm-5 text-center">
       <div class="card bg-custom-light shadow p-3 mb-5 rounded">
          <div class="card-body">
             <img class="rounded-circle mb-2 pb-2 " width="200px" height="200px" src="./assets/1.jpg" alt=""> <br>
             <a href="#" class="btn color bg-custom-color text-white">Change profile picture</a>
          </div>
       </div>
    </div>
    <div class="col-sm-6">
       <div class="card bg-custom-light shadow p-3 mb-5 rounded">
          <div class="card-header bg-custom-light">
             Details
          </div>
          <div class="card-body">
             <form>
                <div class="form-row">
                   <div class="col-sm-12 mb-2 pb-2">
                      <label for="">Username</label>
                      <input type="text" class="form-control" placeholder="Username" readonly>
                   </div>
                   <div class="col">
                      <label for="">Email</label>
                      <input type="text" class="form-control" placeholder="Email">
                   </div>
                </div>
                <div class="form-row mt-2 pt-2">
                   <div class="col">
                      <label for="">First Name</label>
                      <input type="text" class="form-control" placeholder="First Name">
                   </div>
                   <div class="col">
                      <label for="">Last Name</label>
                      <input type="text" class="form-control" placeholder="Last Name">
                   </div>
                </div>
                <div class="mt-2 pt-2 ">
                   <button type="submit" class="btn bg-custom-color mb-2 text-white color">Update Details</button>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>
 <div class="row mt-2 pt-2 mb-5">
    <div class="col-sm-5 text-center">
    </div>
    <div class="col-sm-6">
       <div class="card bg-custom-light shadow p-3 mb-5 rounded ">
          <div class="card-header bg-custom-light">
             Details
          </div>
          <div class="card-body">
             <form>
                <div class="form-row">
                   <div class="col-sm-12 mb-2 pb-2">
                      <label for="">Address</label>
                      <input type="text" class="form-control" placeholder="Address">
                   </div>
                </div>
                <div class="form-row mt-2 pt-2">
                   <div class="col">
                      <label for="">City</label>
                      <input type="text" class="form-control" placeholder="City">
                   </div>
                   <div class="col">
                      <label for="">State</label>
                      <input type="text" class="form-control" placeholder="State">
                   </div>
                </div>
                <div class="mt-2 pt-2 ">
                   <button type="submit" class="btn bg-custom-color mb-2 text-white color">Update Details</button>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>


{% endblock %}



